:root {
    background-color: #19647E;
    color: "https://coolors.co/palette/28264b-ffc857-119da4-19647e";
    font-family: "Rock salt";
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    display: grid;
    border: 1px solid #8d0a68;
    width: 100px;
    height: auto;
}

.header {
    position: absolute;
    display: grid;
}

.logo image {
    width: 100px;
    height: auto;
    border: 1px solid #000;
    display: cover;
}

.links {
    /* display: inline block; */
    font-weight: bold;
    padding: 1rem;
    background-color: yellow;
    text-decoration: none;
    /* display: inline-block; */
    border: 1px solid #000;
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
    border: 1px solid #000;
    display: grid;
    background-color: rgb(232, 69, 142)
}

.hero image {
    display: block;
    width: 100%;
    height: auto;
}

.hero-h1 {
    position: absolute;
    right: 500px;
    border: 1px solid #000;
    transform: translate(10%, 10%);
    color:  black;
    font-size: 1.5em;
    /* background-color: red; */
    padding: 1rem;
}

article {
    position: absolute;
    width: 85%;
    height: 30%;
    top: 250px;
    margin: 0 0 0 100px;
    display: flex;
    background-color: rgb(137, 5, 238);
    padding: 1rem;
    border: 1px solid #000;
    opacity: 0.5px;
}

article p {
    /* background-color: rgb(5, 137, 238); */
    color: black;
    /* border: 2px solid #000; */
    /* display: cover; */
    font-size: 1.3rem;
    /* height: auto; */
    /* margin: 20 10px 300px; */
}

.article-image {
    position: absolute;
    top: 33px;
    float: right;
    /* padding: 5px; */
    margin: 0 0 0 900px;
    /* border: 1px solid #000; */
    /* box-shadow: 0 0 30px #2277e6; */
    /* border-radius: 10px; */
}

.history, .adventure {
    margin: 20px 10%;
    border: 1px solid #000;
}

.gallery {
    display : grid;
    gap: 10px;
}

.gallery img {
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    /* background-color: #333; */
    color: white;
    padding: 10px;
    display: grid;
    border: 1px solid #000
}

.social{
    text-decoration: none;
}

.social a img {
    width: 30px;
    margin: 0 5px;
}