:root {
    background-color: #19647E;
    color: "https://coolors.co/palette/28264b-ffc857-119da4-19647e";
    font-family: "Rock salt";
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    display: grid;
    border: 1px solid #8d0a68
}

.header {
    position: absolute;
    display: grid;
}

.logo {
    width: 100px;
    height: auto;
    border: 1px solid #000;
    display: grid;
}

.links {
    display: inline block;
    font-weight: bold;
    /* padding: 1rem; */
    text-decoration: none;
    display: grid;
    border: 1px solid #000;
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
    border: 1px solid #000;
    display: grid;
    background-color: rgb(232, 69, 142)
}

.hero image {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    border: 1px solid #000;
    transform: translate(10%, 10%);
    color:  black;
    font-size: 1.5em;
    background-color: red;
    padding: 1rem;
    /* text-shadow: 2px 2px 5px #000;  */
}

article {
    position: absolute;
    width: 98%;
    height: auto;
    top: 250px;
    display: cover;
    gap: 20px;
    /* margin: 12 0 0px 100px; */
    background-color: rgb(137, 5, 238);
    padding: 1rem;
    border: 1px solid #000;
}

article p {
    background-color: rgb(5, 137, 238);
    color: black;
    border: 2px solid #000;
    /* display: cover; */
    padding: 5.2rem;
    font-size: 1.3rem;
    /* height: auto; */
    /* bottom: 170rem; */
    margin: 20 0 1px 300px;
}

.article-image {
    position: absolute;
    top: 33px;
    float: right;
    /* padding: 5px; */
    margin: 0 0 0 1100px;
    /* border: 1px solid #000; */
    /* box-shadow: 0 0 30px #2277e6; */
    /* border-radius: 10px; */
}

.history, .adventure {
    margin: 20px 10%;
    border: 1px solid #000;
}

.gallery {
    display : grid;
    gap: 10px;
}

.gallery img {
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    /* background-color: #333; */
    color: white;
    padding: 10px;
    display: grid;
    border: 1px solid #000
}

.social{
    text-decoration: none;
}

.social a img {
    width: 30px;
    margin: 0 5px;
}